{% if is_paginated %}
<div class="flex items-center justify-between mt-8">
    <!-- Tombol Previous -->
    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
               hx-get="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
               hx-target="#post-list-container"
               hx-swap="innerHTML"
               class="btn btn-outline btn-sm !py-1 !px-4">
                &larr; Previous
            </a>
        {% endif %}
    </div>

    <!-- Info Halaman -->
    <div class="text-sm text-deep-brown-600">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </div>

    <!-- Tombol Next -->
    <div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
               hx-get="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
               hx-target="#post-list-container"
               hx-swap="innerHTML"
               class="btn btn-outline btn-sm !py-1 !px-4">
                Next &rarr;
            </a>
        {% endif %}
    </div>
</div>
{% endif %}
